.rili-box{

}

.rili-row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rili-row-2{

}

.lyric-content{
    background: lightblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100%;
}

.col-text-center{
    text-align: center;
}