
.rili-row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.lyric-content{
    background: lightblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100%;
}


.detail{
    background: lightblue;
}

.btn{

}

.form{

}