{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}

{% block content %}
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('wjsc.add_contact') }}" class="btn btn-info" role="button">添加信息</a>
        <a href="{{ url_for('wjsc.logout') }}" class="btn btn-primary" role="button">注销</a>
    {% endif %}

    <table class="table table-hover">
        <caption>信息列表</caption>
        <thead class="table-primary">
        <tr>
            <th scope="col">城市</th>
            <th scope="col">详情</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td class="col-text-center">{{ contact.city }}</td>
                <td class="col-text-center">{{ contact.detail }}</td>
                <td><a href="{{ url_for('wjsc.contact', id=contact.id) }}">详情</a></td>
                {% if current_user.is_authenticated %}
                    <td><a href="{{ url_for('wjsc.edit_contact', id=contact.id) }}">编辑</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ render_pager(pagination, prev='上一页', next='下一页', align='right') }}

{% endblock %}