{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# jquery #}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-3.3.1.js') }}"></script>
    {{ render_static('css', 'style.css') }}
    {{ bootstrap.load_css() }}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>shenkeling.top</title>
    {% endif %}
</head>
<body>
<div class="container">
    {% if contact.type == 0 %}
        <div style="background: lightgreen; margin-top: 10%;">
            <img src="{{ url_for('static', filename='djd.jpeg') }}" style="width: 100%"/>
        </div>
    {% endif %}

    <h5 style="color: #c00;  margin-top: 10%; text-align: center;">{{ contact.title }}</h5>
    <span class="text-muted" style="white-space:pre-line; font-size: 13px">{{ contact.detail }}</span>
    {#    <div style="display: flex; flex-direction: row-reverse">#}
    {#        {% if contact.type == 0 %}#}
    {#            <img src="{{ url_for('static', filename='logo.png') }}"#}
    {#                 style="width: 100px;height: 100px;">#}
    {#        {% else %}#}
    {#            <img src="{{ url_for('static', filename='rain.png') }}"#}
    {#                 style="width: 100px;height: 100px;">#}
    {#        {% endif %}#}
    {#    </div>#}
</div>

{{ bootstrap.load_js() }}
</body>
</html>

