<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>[简历]深有容-全栈开发工程师/杭州</title>
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='jianli/css/typo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jianli/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jianli/css/index.css') }}">
    <script>
        function loading() {
            document.getElementsByClassName('avatar')[0].style.display = 'block';
            document.getElementsByClassName('loading')[0].style.display = 'none';
        }
    </script>
</head>

<body>

    <header class="header"></header>

    <article class="container">
        <section class="side" id="side">

            <!-- 左栏固定开关，记得及时删除这段代码 Start-->
            <label class="switch" style="display: none;" onchange="switchFixed()">
                <script type="text/javaScript">
                    function switchFixed(){
                        var value = document.getElementById('side').style.position === 'fixed' ? 'absolute' : 'fixed';
                        document.getElementById('side').style.position = value;
                    }
                </script>
                <input id="cb" type="checkbox">
                <span class="slider round"></span>
            </label>
            <style>
                @media (min-width: 414px){
                    .switch{position:relative;display:inline-block!important;width:60px;height:34px;}
                    .switch input{display:none;}
                    .slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;-webkit-transition:.4s;transition:.4s;}
                    .slider:before{position:absolute;content:"";height:26px;width:26px;left:4px;bottom:4px;background-color:white;-webkit-transition:.4s;transition:.4s;}
                    input:checked + .slider{background-color:#1abc9c;}
                    input:focus + .slider{box-shadow:0 0 1px #1abc9c;}
                    input:checked + .slider:before{-webkit-transform:translateX(26px);-ms-transform:translateX(26px);transform:translateX(26px);}.slider.round{border-radius:34px;}
                    .slider.round:before{border-radius:50%;}
                }
            </style>
             <!--左侧固定开关，记得及时删除这段代码 End-->

            <!-- 个人肖像 -->
            <section class="me">
                <section class="portrait">
                    <div class="loading">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <!-- 头像照片 -->
                    <img class="avatar" src="{{ url_for('static', filename='jianli/images/avatar.png') }}" onload="loading()">
                </section>

                <h1 class="name">深有容</h1>
                <h4 class="info-job">全栈工程师（目标） / 杭州</h4>

            </section>

            <!-- 基本信息 -->
            <section class="profile info-unit">
                <h2>
                    <i class="fa fa-user" aria-hidden="true"></i>基本信息</h2>
                <hr/>
                <ul>
                    <li>
                        <label>个人信息</label>
                        <span>沈克令 / 男 / 1985.1</span>
                    </li>
                    <li>
                        <label>英语水平</label>
                        <span>CET-4</span>
                    </li>
                </ul>
            </section>

            <!-- 联系方式 -->
            <section class="contact info-unit">
                <h2>
                    <i class="fa fa-phone" aria-hidden="true"></i>联系方式</h2>
                <hr/>
                <ul>
                    <li>
                        <label>手机</label>
                        <a href="tel:18668249265" target="_blank">186-6824-9265</a>
                    </li>
                    <li>
                        <label>邮箱</label>
                        <a href="mailto:oldpottertom@icloud.com" target="_blank">oldpottertom@icloud.com</a>
                    </li>
                    <li>
                        <label>个人主页</label>
                        <a href="https://shenkeling.top/jianli" target="_blank">shenkeling.top</a>
                    </li>
                    <li>
                        <label>Github</label>
                        <a href="https://github.com/oldpotter" target="_blank">github.com/oldpotter</a>
                    </li>
                </ul>
            </section>

            <!-- 技能点 -->
            <section class="skill info-unit">
                <h2>
                    <i class="fa fa-code" aria-hidden="true"></i>技能点</h2>
                <hr/>
                <ul>
                    <li>
                        <label>HTML</label>
                        <progress value="70" max="100"></progress>
                    </li>
                    <li>
                        <label>CSS</label>
                        <progress value="60" max="100"></progress>
                    </li>
                    <li>
                        <label>JavaScript</label>
                        <progress value="80" max="100"></progress>
                    </li>
                    <li>
                        <label>Python</label>
                        <progress value="80" max="100"></progress>
                    </li>
                    <li>
                        <label>Flask</label>
                        <progress value="80" max="100"></progress>
                    </li>
                    <li>
                        <label>Node.js</label>
                        <progress value="60" max="100"></progress>
                    </li>
                    <li>
                        <label>Android</label>
                        <progress value="60" max="100"></progress>
                    </li>
                    <li>
                        <label>IOS</label>
                        <progress value="60" max="100"></progress>
                    </li>
                    <li>
                        <label>小程序</label>
                        <progress value="90" max="100"></progress>
                    </li>
                </ul>
            </section>

{#            <section class="qrcode info-unit">#}
{#                <h2><i class="fa fa-qrcode" aria-hidden="true"></i>二维码</h2>#}
{#                <hr/>#}
{#                <img src="https://github.com/if2er/FeZaoDuKe-Collection/blob/master/ifeees.jpg?raw=true" style="width: 100%;" alt="">#}
{#            </section>#}

            <!-- 技术栈 -->
            <!-- <div class="stack info-unit">
                    <h2><i class="fa fa-code" aria-hidden="true"></i>其他</h2>
                    <hr/>
                    <ul>
                        <li>
                            <label>前端</label>
                            <span>React、jQuery、微信小程序、Bootstrap、SASS、LESS</span>
                        </li>
                        <li>
                            <label>后端</label>
                            <span>Node.js、MySQL、MongoDB、WordPress、ThinkPHP</span>
                        </li>
                        <li>
                            <label>其他</label>
                            <span>Git、SVN、Markdown</span>
                        </li>
                    </ul>
                </div> -->
        </section>

        <section class="main">

            <!-- 教育经历 -->
            <section class="edu info-unit">
                <h2>
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>教育经历</h2>
                <hr/>
                <ul>
                    <li>
                        <h3>
                            <span>杭州电子科技大学 - 计算机科学与技术专业（本科）</span>
                            <time>2003.9-2007.7</time>
                        </h3>
{#                        <p>专业排名#}
{#                            <mark>X/XX</mark>，期间发表国际会议英文摘要X篇，国内核心期刊文章X篇（其中第一作者X篇），获XXX，XXX2次，XXX2次。(此处根据自身情况填写，可以突出自己的亮点，或者跟求职目标相关的内容)</p>#}
                    </li>
                    <li>
                        <h3>
                            <span>杭州浙大附中</span>
                            <time>2000.9-2003.7</time>
                        </h3>
{#                        <p>专业排名#}
{#                            <mark>X/XX</mark>，期间发表国内核心期刊文章X篇，三等奖学金X次。</p>#}
                    </li>
                </ul>
            </section>

            <!-- 工作经历 -->
            <section class="work info-unit">
                <h2>
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>工作经历</h2>
                <hr/>
                <ul>
                    <li>
                        <h3>
                            <span>浙江长天信息技术有限公司</span>
                            <time>2015.4 至 2018.9</time>
                        </h3>
                        <ul class="info-content">
                            <li>参与"安全通"项目迭代的ios版本和Anroid版本开发工作。
                            <li>打包ios版本，部署产品在AppStore上线</li>
                        </ul>
                    </li>
                    <li>
                        <h3>
                            <span>杭州双易贸易有限公司</span>
                            <time>2011.8-2015.1</time>
                        </h3>
                        <ul class="info-content">
                            <li>负责企业多个系统的测试工作。</li>
                            <li>对仓库打包、库存等业务有了解。</li>
                        </ul>
                    </li>
                </ul>
            </section>

            <!-- 项目经验 -->
            <section class="project info-unit">
                <h2>
                    <i class="fa fa-terminal" aria-hidden="true"></i>个人项目</h2>
                <hr/>
                <ul>
                    <li>
                        <h3>
                            <span>[flask+vue]每日对话图片工具</span>
                            <span class="link">
                                <a href="https://wjsc-rili-2019.shenkeling.top/" target="_blank">每日对话</a>
                            </span>
                            <time>2019.2-</time>
                        </h3>
                        <ul class="info-content">
                            <li>技术栈：flask+vuejs</li>
                            <li>[目标]缩减每日拍摄照片并在美图软件中添加照片水印、调整图片属性等重复性工作。</li>
                            <li>[过程]利用canvas绘制了静态logo、二维码图片，利用html本地化能力选择图片；Bootstrapvue按钮、slider、下拉框等组件,
                                使用Jimp调整图片属性，最后提供图片下载。</li>
                        </ul>
                    </li>
                    <li>
                        <h3>
                            <span>[微信小程序]搜歌词</span>
                            <span class="link">
                                <a href="https://shenkeling.top/files/sougeci.jpg" target="_blank">搜歌词小程序二维码</a>
                            </span>
                            <time>2019.1-</time>
                        </h3>
                        <ul class="info-content">
                            <li>技术栈：WXML、WXSS、JS</li>
                            <li>[目标]提供便捷的歌词搜索服务</li>
                            <li>[过程]利用网易云音乐api部署node服务。小程序采用原生框架展示搜索页、歌词页、列表页。使用小程序云后台存储和云函数部分功能</li>
                        </ul>
                    </li>
                    <li>
                        <h3>
                            <span>[微信小程序]搜诗词</span>
                            <span class="link">
                                <a href="https://shenkeling.top/files/soushici.jpg" target="_blank">搜诗词小程序二维码</a>
                            </span>
                            <time>2019.1-</time>
                        </h3>
                        <ul class="info-content">
                            <li>技术栈：WXML、WXSS、JS</li>
                            <li>[目标]提供便捷的诗词搜索服务</li>
                            <li>[过程]云数据库部署诗词数据，客户端按"诗""词""作者"展示数据，提供诗词全文搜索功能。</li>
                        </ul>
                    </li>
                    <li>
                        <h3>
                            <span>[微信小程序]xlx</span>
{#                            <span class="link">#}
{#                                <a href="#" target="_blank">xlx小程序二维码</a>#}
{#                            </span>#}
                            <time>2018.1-2018.5</time>
                        </h3>
                        <ul class="info-content">
                            <li>技术栈：WXML、WXSS、JS</li>
                            <li>对接xlx网站api，利用htmlparse将html源码转换成小程序代码。</li>
                        </ul>
                    </li>



                </ul>
            </section>

            <!-- 自我评价 -->
            <section class="work info-unit">
                <h2>
                    <i class="fa fa-pencil" aria-hidden="true"></i>自我评价/期望</h2>
                <hr/>
                <p>喜欢中国文化、崇尚简单的生活，“内省不咎”是最近的座右铭。人生没有目标，只有过程。工作生活都是历练的途径。</p>
            </section>
        </section>
    </article>



    <footer class="footer">
        <p>© 2019 深有容 </p>
    </footer>

    <!-- 侧栏 -->
{#    <aside>#}
{#        <ul>#}
{#            <li>#}
{#                <a href="https://gitee.com/itsay/resume" target="_blank">源代码</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="http://if2er.com/" target="_blank">Blog</a>#}
{#            </li>#}
{#        </ul>#}
{#    </aside>#}

    <script src="./assets/js/index.js"></script>
</body>

</html>